 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
 .buton {
  position: fixed;
  top: 280px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  color: white;
  z-index: 1000;
  padding: 0 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(143, 143, 143);
  padding: 5px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.dot:hover{
  background-color: #b70b0b;
}











.gler1{
  display: flex;
  align-items: center;
  justify-content: center;

}
.tx1, .tx2, .tx3, .ty1, .ty2, .ty3, .ty4, .tz1, .tz2{
   position: absolute;
    font-family: 'Poppins', sans-serif;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    z-index: 5;
}
.tx1 h1{
  font-size: 3rem;
  margin: 0 0 280px 500px;
}
.tx2 p{
  font-size: 15px;
  font-weight: 700;
  color: #a92020;
  margin: 265px  0px 0 450px;
}
.tx3 p{
  font-size: 10px;
  margin: 350px  0px 0 493px
}


.ty1 h1{
  font-size: 3rem;
  margin: 135px 0 0px 80px;
}
.ty2 p{
  font-size: 12px;
  color: #a92020;
  margin: 255px  0px 0 80px;
  font-weight: 500;
}
.ty3 p{
  font-size: 15px;
  font-weight: 700;
  color: #a92020;
  margin: 470px  0px 0 80px
}
.ty4 p{
  font-size: 10px;
  margin: 500px  0px 0 80px
}

.tz1 h1{
  font-size: 3rem;  
  margin: 180px 0 0 600px;
}

.tz2 p{
  font-size: 15px;
  margin: 490px 0 0 600px;
}


 @media (min-width:240px) and (max-width:576px) {

  .tx1 h1{
    font-size: 15px;
    margin: 0px 0px 80px 150px;
  } 
  .tx2 p{
    font-size: 8px;
    margin: 82px 0 0 165px;
  }
  .tx3 p{
    font-size: 4px;
    margin: 120px 0px 0px 162px;
  }
  
  .ty1 h1{
    font-size: 15px;
    margin: 35px 0 0px 20px;
  } 
  .ty2 p{
    font-size: 4px;
    margin: 75px  0px 0 20px;
  }
  .ty3 p{
    font-size: 8px;
    margin: 135px  0px 0 20px;
  }
  .ty4 p{
    font-size: 4px;
    margin: 148px  0px 0 21px;
  }

  .tz1 h1{
    font-size: 15px;
    margin: 50px 0 0 200px;
  }
  
  .tz2 p{
    font-size: 8px;
    margin: 140px 0 0 200px;
  }


   .firstcard {
     display: none;
   }

   .card__image {
     top: 40%;
     height: 200px;
     max-width: 45%;
   }

   .card__title {
     font-size: 15px;
   }

   .card__text,
   .card__text2 {
     font-size: 8px;
   }

  
 }

 @media (min-width:577px) and (max-width:767px) {

  .tx1 h1{
    font-size: 20px;
    margin: 0px 0px 135px 210px;
  } 
  .tx2 p{
    font-size: 10px;
    margin: 120px 0 0 220px;
  }
  .tx3 p{
    font-size: 6px;
    margin: 175px 0px 0px 235px;
    
  }

  .ty1 h1{
    font-size: 20px;
    margin: 60px 0 0px 20px;
  } 
  .ty2 p{
    font-size: 6px;
    margin: 110px  0px 0 20px;
  }
  .ty3 p{
    font-size: 10px;
    margin: 235px  0px 0 20px;
  }
  .ty4 p{
    font-size: 6px;
    margin: 250px  0px 0 21px;
  }

  .tz1 h1{
    font-size: 20px;
    margin: 90px 0 0 315px;
  }
  
  .tz2 p{
    font-size: 10px;
    margin: 220px 0 0 315px;
  }
 }

 @media (min-width:768px) and (max-width:992px) {


  .tx1 h1{
    font-size: 30px;
    margin :0px 0px 180px 300px;
  } 
  .tx2 p{
    font-size: 15px;
    margin: 170px 0 0 315px;
  }
  .tx3 p{
    font-size: 9px;
    margin: 250px 0px 0px 337px;
    
  }   

  .ty1 h1{
    font-size: 30px;
    margin: 60px 0 0px 20px;
  } 
  .ty2 p{
    font-size: 9px;
    margin: 135px  0px 0 20px;
  }
  .ty3 p{
    font-size: 15px;
    margin: 295px  0px 0 20px;
  }
  .ty4 p{
    font-size: 9px;
    margin: 320px  0px 0 21px;
  }

  .tz1 h1{
    font-size: 30px;
    margin: 110px 0 0 410px;
  }
  
  .tz2 p{
    font-size: 15px;
    margin: 280px 0 0 370px;
    width: 45%;
  }

   .container {

     bottom: 445px;
   }

 }

 @media (min-width:1400px) {
   
  .tx1 h1{
    font-size: 4rem;
    margin :0px 0px 300px 550px;
  } 
  .tx2 p{
    font-size: 20px;
    margin: 300px 0 0 465px;
  }
  .tx3 p{
    font-size: 14px;
    margin: 435px 0px 0px 534px;
    
  } 
  
  .ty1 h1{
    font-size: 4rem;
    margin: 95px 0 0px 40px;
  } 
  .ty2 p{
    font-size: 15px;
    margin: 245px  0px 0 42px;
  }
  .ty3 p{
    font-size: 20px;
    margin: 580px  0px 0 42px;
  }
  .ty4 p{
    font-size: 14px;
    margin: 615px  0px 0 45px;
  }
  .tz1 h1{
    font-size: 4rem;
    margin: 210px 0 0 715px;
  }
  
  .tz2 p{
    font-size: 20px;
    margin: 535px 0 0 715px;
  }
 }