
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.kit5{
    text-align: center;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 5;
    
}
.tf{
    position: relative;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    
}

.card5 {
    overflow: hidden;
    border-radius: 20px ;
}
.card5:hover img {
    transform: scale(1.1);
    
  }
.card5 img{
    object-fit: cover;
    overflow: hidden;
    height: 45vh;
    border-radius: 20px ;
    transition: transform 0.8s ease;
    
}

  
