@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.banner {
  position: relative;
  margin-top: -4px;
}
.best {
  position: relative;
  bottom: 125px;
}
.best h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  margin-left: 405px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.slidee {
  position: relative;
  bottom: 0px;
}
.card {
  border-radius: 0;
}
.card img {
  transition: transform 0.4s ease;
  border-radius: 0;
}
.card:hover img {
  transform: scale(1.1);
}

.carousel-control-prev, .carousel-control-next{
  color: black !important;
}
@media (min-width: 240px) and (max-width: 576px) {
  .best h1 {
    font-size: 1.5rem;
    margin-left: 158px;
    position: relative;
    top: 70px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .best h1 {
    font-size: 2.5rem;
    margin-left: 240px;
    position: relative;
    top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .best h1 {
    font-size: 3.5rem;
    margin-left: 320px;
    position: relative;
    top: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .best h1 {
    font-size: 6.5rem;
    margin-left: 460px;
    position: relative;
    top: -10px;
  }
}
@media (min-width: 1440px) {
  .best h1 {
    font-size: 9.5rem;
    margin-left: 555px;
    position: relative;
    top: -87px;
  }
}
